* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 400px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;/*Nothing special will heppen*/
    flex-wrap: wrap;/*flex-items will reach to the next line one by one for keeping the width same when squeezing*/
    /* flex-wrap: wrap-reverse; *//*Blocks will reach to the top line for keeping the width same when squeezing*/
}

.box {
    border: 1px solid brown;
    background-color: aqua;
    width: 100px;/* width in percentage can override some flex rule. e.g. flex-wrap will not work in % */
}

