.box {
    background-color: aqua;
    margin: 500px;
    /* padding-left: 25px; */
    transform: translate(0px , 250px);
    /* transform: translateX(250px);For horizantal */
    /* transform: translateY(250px);vertical */
    transform: rotate(-45deg);
    /* transform: scale(2,3); *//* For zooming :  First Attribute for horizontal scaling and second for vertical scaling (can use for single attributes*/
    transform: skew(45deg);
}