.container{
    height: 700px;
    width: 504px;
    border: 1px solid red;
    background-color: yellow;

    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px ;

    grid-gap: 4px;

    grid-template-areas: "hd hd"
    "side main"
    "ft ft";
}

.box{
    border: 1px solid red;
    background-color: aqua;
   /*  width: 100px;
    height: 100px; */
}
/* 
#box1{
    grid-area: 1/1/3/4;
} */

#header{
    grid-area: hd;
}
#footer{
    grid-area: ft;
}
#sidebar{
    grid-area: side;
}
#contetn{
    grid-area: main;
}