.container {
    height: 400px;
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;

    gap: 10px;

    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    /* align-content: space-around; */
    /* align-content: space-evenly; */
    /* align-content will be understand better by opening html preview or listening to the lecture */
}

.box {
    border: 1px solid brown;
    background-color: aqua;
    width: 100px;

}

