.container {
    height: 400px;
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content:center; */
    justify-content: space-around;/* This value evenly distributes items along the main axis with equal space on both sides of each item. 
                                    The space between the items is twice as much as the space at the edges.*/
    justify-content: space-between;/* This value evenly distributes items along the main axis with equal space between the items. There is no space at the edges.*/
    justify-content: space-evenly;/*This value evenly distributes items along the main axis with equal space between the items and at the edges*/
}

.box {
    border: 1px solid brown;
    background-color: aqua;
    text-align: center;
    /* width: 20%;   */  /* width in percentage can override some flex rule. e.g. flex-wrap will not work in % */
    width: 100px;

}