html, body {
    height: 100%;
    margin: 0;
}

#root { /* Assuming your main React app is rendered in a div with id="root" */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

main {
    flex: 1; /* This will take up the remaining space */
}

footer {
    padding: 3.2rem;
    text-align: center;
    background-color: var(--btn-color);
    margin-top: auto; /* Push the footer to the bottom */
}

