.container {
    height: 100vh;
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    /* align-items: stretch; */
    /* align-items: baseline; *//*  baseline of content will be same */
/* To write the content in center of the page we have to center both justify and align-items */
    gap: 5px;/* shorthand notation */ /* We can use margins but margin will cover extra space in starting and in the end 
    whereas gap will generate space between contents only  */
}

.box {
    border: 1px solid brown;
    background-color: aqua;
    width: 100px;
}