<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerLinks}}
</head>

<body>

  {{>navbar}}
  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        <h3>Welcome</h3>
        <p>To The MEARN Stack Backend </p>
        {{!-- <input type="submit" name="" value="Login" /><br /> --}}
      </div>
      <div class="col-md-9 register-right">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Register</a>
          </li>
          <!-- <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Hirer</a
          >
        </li> -->
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">Create A New Account</h3>
            <div class="row register-form">
              <form action="/register" method="POST">


                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name *" name="fname" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name *" name="lname" />
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password *" name="pass" />
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirm Password *" name="cpass" />
                </div>

                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your Email *" name="email" />
                </div>
                <div class="form-group">
                  <input type="text" minlength="10" maxlength="10" class="form-control" placeholder="Your Phone *"
                    name="phone" />
                </div>

                <div class="form-group">
                  <div class="maxl">
                    <h6>Gender</h6>
                    <label class="radio inline">
                      <input type="radio" name="gender" value="male" checked />
                      <span> Male </span>
                    </label>
                    <label class="radio inline">
                      <input type="radio" name="gender" value="female" />
                      <span>Female </span>
                    </label>
                  </div>
                </div>
                <input type="submit" class="btnRegister" value="Register" />



              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="./script.js"></script>

</body>

</html>